{% extends "blog/base.html" %}
{% block content %}
 <main role="main" class="container">
      <div class="row">
        <div class="col-md-4 featured">
            <h3>Popularne kategorie</h3>
        </div>
        <div class="col-md-4 featured">
         <h3>Popularne lokalizacje</h3>
        </div>
        <div class="col-md-4 featured">
            <h3>Miesięczny ranking korepetytorów</h3>
        </div>
      </div>
      <div class="row fixed-bottom">
          <div class="featured col-md-12">
            <h3>Wyróżnione ogłoszenia</h3>
          </div>
          <div class="col-md-6 featured">
            <h4>Ogłoszenie 1</h4>
          </div>
          <div class="col-md-6 featured">
            <h4>Ogłoszenie 2</h4>
          </div>
          <div class="col-md-6 featured">
            <h4>Ogłoszenie 3</h4>
          </div>
          <div class="col-md-6 featured">
            <h4>Ogłoszenie 1</h4>
          </div>
          <div class="col-md-6 featured">
            <h4>Ogłoszenie 2</h4>
          </div>
          <div class="col-md-6 featured">
            <h4>Ogłoszenie 3</h4>
          </div>
      </div>
    </main>
{% endblock content %}
